<h2>Welcome to ASP.NET MVC @ViewData["Version"] on @ViewData["Runtime"]!</h2>
<p>Hello world</p>
<p>Этот абзац добавлен через интернет</p>
<p>Постараюсь за сегодня разобраться с git и загрузить изменения на сайт.</p>
<p>Еще изменения</p>
